<header id="header">
    <div class="container">
        <div class="header__logo-container">
            <%= image_tag "restaurantlogo", alt: "Logo" %>
        </div>
        <div class="header__menu-toggle">
            <i class="ti-menu"></i>
        </div>
        <div class="header__menu">
            <%= link_to "food", "#" %> 
            <%= link_to "about us", "#" %> 
            <%= link_to "waitlist", "#" %> 
            <%= link_to "offers", "#" %> 
            <%= link_to "gift cards", "#" %> 
        </div>
    </div>
</header>