<header id="">
    <div class="header__logo-container">
        <%= image_tag "", alt: "Logo" %>
        <i class="ti-menu"></i>
    </div>
    <nav>
       <%= link_to "home", "#" %> 
       <%= link_to "home", "#" %> 
       <%= link_to "home", "#" %> 
       <%= link_to "home", "#" %> 
    </nav>
</header>