<header id="header">
    <div class="header__logo-container">
        <%= image_tag "restaurantlogo", alt: "Logo" %>
    </div>
    <div class="header__menu-toggle">
        <i class="ti-menu visible-xs-inline"></i>
    </div>
    <div class="header__menu">
        <%= link_to "home", "#" %> 
        <%= link_to "home", "#" %> 
        <%= link_to "home", "#" %> 
        <%= link_to "home", "#" %> 
    </div>
</header>