<header id="pages-pagres-header">
    <div class="container">
        <div class="pagres-header__logo-container">
            <h1>logo</h1>
        </div>
        <i class="ti-menu"></i>
        <nav>
            <%= link_to "food", food_path %>
            <%= link_to "about us", about_path %>
            <%= link_to "waitlist", waitlist_path %>
            <%= link_to "offers", offers_path %>
            <%= link_to "gift cards", giftcards_path %>
        </nav>
    </div>
</header>