<section id="pages">
    <div class="container">
        <div class="pages__content">
            <h1>waitlists</h1>
            <%= form_with(class: "reservation-form", data: {
                controller: "flatpickr"
            }) do |form| %>
                <div class="form-group">
                    <%= form.label :email_address, style: "display: block" %>
                    <%= form.email_field :email_address %>
                </div>

                <div class="form-group">
                    <%= form.label :how_many_guest, style: "display: block" %>
                    <%= form.number_field :how_many_guest, in: 1..70 %>
                </div>

                <div class="form-group">
                    <%= form.label :date, style: "display: block" %>
                    <%= form.text_area :date %>
                </div>

                <div class="form-group">
                    <%= form.label :time, style: "display: block" %>
                    <%= form.time_field :started_at %>
                    <%= form.datetime_field :end_time %>
                </div>

                <div class="form-group">
                    <%= form.submit "find a table" %>
                </div>
            <% end %>
        </div>
    </div>
</section>